<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.college.dao">
	<resultMap type="com.xf.college.model.Course" id="course">
		 <id property="courseId" column="course_id"></id>
		 <result property="courseName" column="course_name"></result>
		<result property="createTime" column="create_time"></result>
	</resultMap>

	<insert id="add" parameterType="com.xf.college.model.Course">
		INSERT INTO course  VALUES(#{courseId},#{courseName},#{create_time})
	</insert>

	<select id="select" resultMap="course">
		SELECT * from course WHERE  course_id=#{courseId}
	</select>
	<select id="selectAll" resultMap="course">
		SELECT * from course
	</select>
	<select id="selectByName" resultMap="course">
		SELECT * from course WHERE  course_name = #{courseName}
	</select>

	<update id="update" parameterType="com.xf.college.model.Course">
		UPDATE  SET course_name=#{courseName},create_time=#{createTime}
		WHERE  course_id=#{courseId}
	</update>

</mapper>
