<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.college.dao.Demo.DemoDao">
	<resultMap type="com.xf.college.model.Demo" id="demo">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>


  	<!-- 根据聊天记录对象插入表 -->
  	<insert id="insert" parameterType="com.xf.college.model.Demo">
  		insert into demo (name)
  			values(#{name})
  	</insert>
  	
<!--  	&lt;!&ndash;根据用户id返回聊天记录 &ndash;&gt;
  	<select id="getChatListByUserId" parameterType="int" resultMap="chat">
  		select * from chat where user_recieveId=#{userId}
  	</select>
  	
  	&lt;!&ndash; 通过聊天编号修改状态 &ndash;&gt;
  	<update id="update">
  		update chat set status=#{status} where chat_id=#{chatId}
  	</update>
  	
  	&lt;!&ndash; 通过聊天编号删除聊天记录 &ndash;&gt;
  	<delete id="delete">
  		delete from chat where chat_id in
  		<foreach collection="list" item="chatId" open="(" close=")" separator=",">
  			#{chatId} 
  		</foreach>
  	</delete>-->
</mapper>
