<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.college.dao.laboratory.AssetDao">
    <resultMap id="asset" type="com.xf.college.model.laboratory.Asset">
        <id column="e_id" property="id"></id>
        <result column="e_name" property="name"></result>
        <result column="e_type_id" property="typeId"></result>
        <result column="e_valid" property="valid"></result>
        <result column="e_use_count" property="usedCount"></result>
        <result column="e_des" property="des"></result>
        <result column="e_remark" property="remark"></result>
        <result column="e_img" property="imgs"></result>
        <result column="e_begin_time" property="beginTime"></result>
        <result column="e_model" property="model"></result>
        <result column="e_spec" property="specification"></result>
        <result column="e_price" property="price"></result>
        <result column="e_nation" property="nationality"></result>
        <result column="e_factory_name" property="factoryName"></result>
        <result column="e_buy_time" property="buyTime"></result>
        <result column="e_user_id" property="userId"></result>
        <result column="e_user_name" property="userName"></result>
        <result column="e_handle_user_id" property="handleUserId"></result>
        <result column="e_handle_user_name" property="handleUserName"></result>
        <result column="e_incoming" property="incoming"></result>
        <result column="e_last_use_time" property="lastUseTime"></result>
    </resultMap>

    <insert id="add" parameterType="com.xf.college.model.laboratory.Asset">
        INSERT INTO
          asset
        VALUES
          (#{id},#{name},#{typeId},#{valid},#{usedCount},#{des},#{remark},#{imgs},#{beginTime},#{model},#{specification},#{price},#{nationality},
            #{factoryName},#{buyTime},#{userId},#{handleUserId},#{incoming},#{lastUseTime})
    </insert>

    <select id="select" resultMap="asset">
         SELECT `e_id`, `e_name`, `e_type_id`, `e_valid`, `e_use_count`, `e_des`, `e_remark`, `e_img`, `e_begin_time`, `e_model`, `e_spec`,
                `e_price`, `e_nation`, `e_factory_name`, `e_buy_time`, `e_user_id`,(SELECT T_NAME from teacher WHERE  T_ID = e_user_id) as `e_user_name`,
                `e_handle_user_id`, (SELECT T_NAME from teacher WHERE  T_ID = e_handle_user_id) as `e_handle_user_name`,`e_incoming`, `e_last_use_time`  FROM asset
                    WHERE e_id = #{id}
    </select>
    <select id="selectAll" resultMap="asset">
        SELECT `e_id`, `e_name`, `e_type_id`, `e_valid`, `e_use_count`, `e_des`, `e_remark`, `e_img`, `e_begin_time`, `e_model`, `e_spec`,
                `e_price`, `e_nation`, `e_factory_name`, `e_buy_time`, `e_user_id`,(SELECT T_NAME from teacher WHERE  T_ID = e_user_id) as `e_user_name`,
                `e_handle_user_id`, (SELECT T_NAME from teacher WHERE  T_ID = e_handle_user_id) as `e_handle_user_name`,`e_incoming`, `e_last_use_time` FROM `asset` WHERE 1
    </select>
    <select id="selectByName" resultMap="asset">
        SELECT `e_id`, `e_name`, `e_type_id`, `e_valid`, `e_use_count`, `e_des`, `e_remark`, `e_img`, `e_begin_time`, `e_model`, `e_spec`,
                `e_price`, `e_nation`, `e_factory_name`, `e_buy_time`, `e_user_id`,(SELECT T_NAME from teacher WHERE  T_ID = e_user_id) as `e_user_name`,
                `e_handle_user_id`, (SELECT T_NAME from teacher WHERE  T_ID = e_handle_user_id) as `e_handle_user_name`,`e_incoming`, `e_last_use_time`  FROM asset

    </select>
    <select id="selectByUserId" resultMap="asset">
         SELECT `e_id`, `e_name`, `e_type_id`, `e_valid`, `e_use_count`, `e_des`, `e_remark`, `e_img`, `e_begin_time`, `e_model`, `e_spec`,
                `e_price`, `e_nation`, `e_factory_name`, `e_buy_time`, `e_user_id`,(SELECT T_NAME from teacher WHERE  T_ID = e_user_id) as `e_user_name`,
                `e_handle_user_id`, (SELECT T_NAME from teacher WHERE  T_ID = e_handle_user_id) as `e_handle_user_name`,`e_incoming`, `e_last_use_time`  FROM asset
                    WHERE e_user_id=#{userId}
    </select>

    <update id="update" parameterType="com.xf.college.model.laboratory.Asset">
       UPDATE `asset` SET
          `e_id`=#{id},`e_name`=#{name},`e_type_id`=#{typeId},`e_valid`=#{valid},`e_use_count`=#{useCount},`e_des`=#{des},`e_remark`=#{remark},`e_img`=#{img},
          `e_begin_time`=#{beginTime},`e_model`=#{model},`e_spec`=#{specification},`e_price`=#{price},`e_nation`=#{nationality},`e_factory_name`=#{factoryName},`e_buy_time`=#{buyTime},
          `e_user_id`=#{userId},`e_handle_user_id`=#{handleUserId},`e_incoming`=#{incoming},`e_last_use_time`=#{lastUseTime}
             WHERE E_ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM asset WHERE e_id=#{id}
    </delete>
</mapper>