<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.college.dao.laboratory.EquipmentTypeDao">
    <resultMap id="equipmentType" type="com.xf.college.model.laboratory.EquipmentType">
        <id column="E_ID"  property="id"></id>
        <result column="E_NAME" property="name"></result>
        <result column="E_DES" property="des"></result>
    </resultMap>


    <insert id="add" parameterType="com.xf.college.model.laboratory.EquipmentType">
        INSERT INTO
        equipment_type (E_NAME,E_DES)
        VALUES
        (#{name},#{des})
    </insert>

    <select id="select" resultMap="equipmentType">
        SELECT * FROM equipment_type WHERE E_ID=#{id}
    </select>
    <select id="selectAll">
        SELECT * FROM equipment_type
    </select>
    <select id="selectByName" resultMap="equipmentType">
        SELECT * FROM equipment_type WHERE E_NAME=#{name}
    </select>

    <update id="update" parameterType="com.xf.college.model.laboratory.EquipmentType">
        UPDATE
        equipment_type
        SET
          E_NAME=#{name},E_DES=#{des} WHERE E_ID=#{id}
    </update>

    <delete id="delete">
        DELETE FROM equipment_type WHERE E_ID=#{id}
    </delete>




</mapper>
