<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.college.dao.laboratory.LabRoomApplyDao">
    <resultMap id="labApply" type="com.xf.college.model.laboratory.LabApply">
        <id property="id" column="id"></id>
        <result column="lab_id" property="labId"></result>
        <result column="id" property="id"></result>
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="create_time" property="createTime"></result>
        <result column="state" property="state"></result>
        <result column="handler_id" property="handlerId"></result>
        <result column="des" property="des"></result>
        <result column="lab_type" property="labType"></result>
        <result column="class_index" property="classes"></result>
        <result column="current_day" property="currentDay"></result>
    </resultMap>


    <insert id="add" parameterType="com.xf.college.model.laboratory.LabApply">
       INSERT INTO `laboratory_apply` ( `lab_id`, `user_id`,`lab_type`,`create_time`,`state`,`des`, `class_index` , `current_day` )
            VALUES
                (#{labId},#{userId},#{labType},#{createTime},#{state},#{des},#{classes},#{currentDay})
    </insert>

    <select id="select" resultMap="labApply">
        SELECT `lab_id`, `id`, `user_id`,(SELECT `T_NAME` from teacher WHERE `T_ID`=`user_id`) AS `user_name`,`lab_type`, `create_time`, `state`, `handler_id`, `des` ,`class_index` ,`current_day`
        FROM `laboratory_apply`
          WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultMap="labApply">
        SELECT `lab_id`, `id`, `user_id`,(SELECT `T_NAME` from teacher WHERE `T_ID`=`user_id`) AS `user_name`, `lab_type`,`create_time`, `state`, `handler_id`, `des`,`class_index` FROM `laboratory_apply` WHERE user_id = #{userId}
    </select>

    <select id="selectAll" resultMap="labApply">
        SELECT `lab_id`, `id`, `user_id`,(SELECT `T_NAME` from teacher WHERE `T_ID`=`user_id`) AS `user_name`,`lab_type`, `create_time`, `state`, `handler_id`, `des`,`class_index`,`current_day`
         FROM `laboratory_apply` WHERE 1
    </select>


    <select id="selectByLabId" resultMap="labApply">
        SELECT `lab_id`, `id`, `user_id`,(SELECT `T_NAME` from teacher WHERE `T_ID`=`user_id`) AS `user_name`,`lab_type`, `create_time`, `state`, `handler_id`, `des`,`class_index`,`current_day`
         FROM `laboratory_apply` WHERE lab_id = #{labId}
    </select>

    <select id="selectByLabType" resultMap="labApply">
        SELECT `lab_id`, `id`, `user_id`,(SELECT `T_NAME` from teacher WHERE `T_ID`=`user_id`) AS `user_name`,`lab_type`, `create_time`, `state`, `handler_id`, `des` ,`class_index`,`current_day`
         FROM `laboratory_apply` WHERE lab_type = #{labType}
    </select>

    <update id="update" parameterType="com.xf.college.model.laboratory.LabApply">
        UPDATE `laboratory_apply`
          SET `lab_id`=#{labId},`state`=#{state},`des`=#{des},`class_index`=#{classes},`current_day`=#{currentDay}
             WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM `laboratory_apply` WHERE id = #{id}
    </delete>


</mapper>
